.bakery-item-form {
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 50px;
    margin-top: 20px;
}
    
.bakery-item-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}   

    
.bakery-item-form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}
    
.bakery-item-form input:not([type="checkbox"]),
.bakery-item-form textarea {
width: 100%;
padding: 10px;
margin-bottom: 40px;
border: 1px grey solid;
border-radius: 4px;
background-color: #f5f5f5;
transition: background-color ease-in-out 0.9s;
}
    
.bakery-item-form input:focus,
.bakery-item-form textarea:focus {
  background-color: white;
}
    
    
.bakery-item-form textarea {
    height: 100px;
}  