{% load static %}
{% include "bakery/header.html" %}


<div class="user_dashboard_details">
    <h1>Welcome, {{ user.username }}</h1>
    <p>This is the administrator dashboard. Manage bakery items, orders, and reports here.</p>
</div>

<div class="dashboard_div">
<aside class="user_aside">
    <nav>
        <h2>Administrator Tools</h2>
        <hr class="horizontal">
        <ul>
            <li class="nav-item">
                {% if user.is_superuser %}
                <a href="{% url 'admin_dashboard:add_bakery_item' %}" class="nav-link">Add Bakery Item</a>
                {% endif %}
            </li>
            <li class="nav-item"><a href="{% url 'admin_dashboard:add_users' %}" class="nav-link">Add Users</a></li>
            <li class="nav-item"><a href="{% url 'admin_dashboard:manage_users' %}" class="nav-link">Manage Users</a></li>
            <li class="nav-item"><a href="{% url 'admin_dashboard:generate_reports' %}" class="nav-link">Generate Reports</a></li>
            
            
            <li class="nav-item">
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="nav-link">Logout</button>
                </form>
            </li>
           
        </ul>
    </nav>
</aside>

<div class="dashboard_section">
    {% block dashboard_content %}
    {% endblock %}
</div>
</div>

{% include "bakery/footer.html" %}
