{% extends 'user_dashboard/template.html' %}

{% block dashboard_content %}
<h2>Your Orders' Delivery Status</h2>

{% if order_progress %}
    <ul>
    {% for order_info in order_progress %}
        <li>
            <strong>Order ID: {{ order_info.order.id }}</strong><br>
            <p>Delivery Progress: {{ order_info.progress_percentage }}%</p>
            <p>Estimated Delivery: {{ order_info.order.estimated_delivery_time }}</p>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>You have no orders yet.</p>
{% endif %}

{% endblock %}