{% load static %}
{% include "bakery/header.html" %}

<h1>Welcome, {{ user.username }}</h1>
<p>This is your account dashboard. You can add or review information here.</p>


<aside class="user_aside">
    <nav>
        <h2>My Account</h2>
        <hr>
        <ul>
            <li class="nav-item"><a href="{% url 'user_dashboard:account_details' %}" class="nav-link">Account Details</a></li>
            <li class="nav-item"><a href="{% url 'user_dashboard:change_password' %}" class="nav-link">Change Password</a></li>
            <li class="nav-item"><a href="{% url 'user_dashboard:addresses' %}" class="nav-link">Addresses</a></li>
            <li class="nav-item"><a href="{% url 'user_dashboard:orders' %}" class="nav-link">Orders</a></li>
            <li class="nav-item"><a href="{% url 'user_dashboard:coupons' %}" class="nav-link">Coupons</a></li>
            <li class="nav-item"><form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="nav-link">Logout</button>
            </form></li>
        </ul>
    </nav>
</aside>


{% include "bakery/footer.html" %}