{% load static %}
{% include "bakery/header.html" %}

  <main class="about">
    <header class="about-header">
      <h1>About Us</h1>
    </header>
    <img class="aboutimg" src="https://picsum.photos/500/500" alt="Company Logo">
    <h2>Our Story</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod urna in lorem faucibus aliquet. Fusce id quam aliquet, rutrum sapien non, aliquam ipsum. Etiam laoreet ante quis nunc luctus ultrices. Suspendisse potenti. In venenatis tellus ac mauris aliquet interdum. Sed vel sapien mauris. Aliquam erat volutpat. Nam in quam euismod, pretium arcu sit amet, consequat nulla.</p>
    <p>Donec efficitur fringilla justo vitae lobortis. Praesent ac erat sed elit dictum malesuada. Aenean luctus sapien eget libero molestie, in facilisis metus lobortis. Nullam vitae dolor eleifend, sagittis risus eu, ultricies sapien. Suspendisse vestibulum, ex a lacinia imperdiet, odio turpis pharetra urna, sed maximus nisi nisl in lacus.</p>
    <h2>Our Team</h2>
    <p>Meet the talented individuals behind our success:</p>
    <ul>
      <li>John Smith - CEO</li>
      <li>Jane Doe - Marketing Director</li>
      <li>Mike Johnson - Sales Manager</li>
    </ul>
  </main>


{% include "bakery/footer.html" %}
