{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amasden Bakery</title>
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <link rel="stylesheet" href="{% static 'css/user_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-brand">
        <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="Logo"></a>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              {% if user.is_staff %}
                <a class="nav-link" href="{% url 'staff_dashboard:manage_orders' %}">Staff Dashboard</a>
              {% else %}
                <a class="nav-link" href="{% url 'user_dashboard:account_details' %}">Account</a>
              {% endif %}
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Account</a>
            </li>
          {% endif %}
        </ul>
      </div>
      <div class="navbar-icons">
        <a href="{% url 'login' %}">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M12 13C14.21 13 16 11.21 16 9S14.21 5 12 5 8 6.79 8 9s1.79 4 4 4zM12 15C9.33 15 4 16.33 4 19v2h16v-2c0-2.67-5.33-4-8-4z" />
          </svg>
        </a>
        <a href="{% url 'cart:view_cart' %}">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path fill="none" d="M0 0h24v24H0z" />
            <path d="M21 7h-4.26l-2-4.44A2 2 0 0 0 13.88 1H10.12a2 2 0 0 0-1.86 1.56L6.26 7H2v2h2.27l2.83 12.09A2 2 0 0 0 9 23h6a2 2 0 0 0 1.9-1.41L19.73 9H22V7zm-7-4a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM7.68 9l1.58-4h3.48l1.58 4H7.68z" />
          </svg>
        </a>
      </div>
      <button class="menu-toggle" aria-label="Menu toggle"><span>&#9776;</span></button>
    </nav>
  </body>
</html>
